.listMusic {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  gap: 24px;
  margin-bottom: 32px;
  padding: 0px 0px 24px 0px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1440px) {
    padding: 0px 0px 40px 0px;
    max-width: 840px;
    margin-left: auto;
  }
}
