.buttonModalClose {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;

  border: none;
  outline: none;
  cursor: pointer;

  background-color: var(--neutral-dark-bckg-clr-2);
}

.buttonIcon {
  fill: var(--neutral-dark-text-clr);
  background-color: var(--neutral-dark-bckg-clr-2);
  transition: fill var(--default-animation);
}

.buttonModalClose:hover .buttonIcon,
.buttonModalClose:focus .buttonIcon {
  fill: var(--main-accent-text-clr);
}
