.listMusicItem {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 340px;
  }

  @media screen and (min-width: 1440px) {
    width: 408px;
  }
}

.listButtonsMusic {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  gap: 12px;
}
