.boxLatestReleasesText {
  margin-bottom: 52px;

  @media screen and (min-width: 1440px) {
    margin-bottom: 76px;
  }
}

.latestReleasesText {
  margin-bottom: 24px;
  width: 100%;
  font-family: 'Mulish';
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;

  color: var(--neutral-dark-text-clr);

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }

  @media screen and (min-width: 1440px) {
    margin-top: -60px;
    margin-left: auto;
    width: 840px;

    font-size: 22px;
    line-height: 28px;
  }
}

.latestReleasesTextStatic {
  width: 100%;
  font-family: 'Mulish';
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;

  color: var(--neutral-dark-text-clr);

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }

  @media screen and (min-width: 1440px) {
    margin-left: auto;
    width: 840px;

    font-size: 22px;
    line-height: 28px;
  }
}
