.latestReleasesChapter {
  font-family: 'Oswald';
  font-size: 40px;
  font-weight: 600;
  line-height: 1.3;
  text-transform: uppercase;

  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
    font-size: 44px;
  }

  @media screen and (min-width: 1440px) {
    position: sticky;
    top: 24px;

    display: inline-block;

    margin-bottom: 0;
    font-size: 56px;
    line-height: 1.14;
  }
}
