.textMusic {
  margin-bottom: 52px;

  font-family: 'Mulish';
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;

  color: var(--neutral-dark-text-clr);

  @media screen and (min-width: 768px) {
    max-width: 840px;
    font-size: 20px;
  }

  @media screen and (min-width: 1440px) {
    margin-top: -60px;
    margin-bottom: 76px;
    margin-left: auto;

    font-size: 22px;
    line-height: 28px;
  }
}
