.boxLabelModalMusic {
  padding: 16px 24px;

  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.labelModalMusic {
  font-family: 'Mulish';
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;

  color: var(--add-light-text-clr-2);
}
