.listPlayers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;

  @media screen and (max-width: 374.9px) {
    flex-direction: column;
  }

  @media screen and (min-width: 374.9px) {
    flex-direction: column;
  }

  @media screen and (min-width: 767.9px) {
    flex-direction: initial;
    gap: 24px;
  }
}
