.latestReleasesButton {
  margin-bottom: 52px;
  padding: 12px 24px;
  width: 100%;

  font-size: 22px;
  font-family: 'Mulish';
  font-weight: 600;
  line-height: 1.27;

  border: none;
  outline: none;

  color: var(--neutral-dark-bckg-clr-1);
  background-color: var(--light-text-clr);

  @media screen and (min-width: 374.9px) {
    width: auto;
  }

  @media screen and (min-width: 767.9px) {
    padding: 16px 32px;
  }

  @media screen and (min-width: 1439.9px) {
    margin-bottom: 76px;
    padding: 16px 32px;
  }
}

.iconVector {
  display: block;

  width: 24px;
  height: 24px;

  fill: var(--neutral-dark-bckg-clr-1);
}
