.latestReleasesButton {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 52px;
  padding: 12px 24px;
  width: 100%;

  font-size: 22px;
  font-family: 'Mulish';
  font-weight: 600;
  line-height: 1.27;

  border: 2px solid transparent;
  outline: none;
  cursor: pointer;

  color: var(--neutral-dark-bckg-clr-1);
  background-color: var(--light-text-clr);

  transition: border, color, background-color var(--default-animation);

  @media screen and (min-width: 374.9px) {
    width: auto;
  }

  @media screen and (min-width: 767.9px) {
    padding: 16px 32px;
  }

  @media screen and (min-width: 1439.9px) {
    margin-bottom: 76px;
    padding: 16px 32px;
  }
}

.latestReleasesButton:hover,
.latestReleasesButton:focus {
  border: 2px solid var(--main-accent-text-clr);

  color: var(--light-text-clr);
  background-color: var(--neutral-dark-bckg-clr-1);
}

.iconVector {
  display: block;
  margin-left: 8px;

  width: 24px;
  height: 24px;

  fill: var(--neutral-dark-bckg-clr-1);

  transition: fill var(--default-animation);

  @media screen and (min-width: 767.9px) {
    margin-left: 12px;
  }
}

.latestReleasesButton:hover .iconVector,
.latestReleasesButton:focus .iconVector {
  fill: var(--main-accent-text-clr);
}
