.bandMembers {
  padding-top: 16px;
  padding-bottom: 148px;
  background-color: var(--neutral-dark-bckg-clr-1);
  @media screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 164px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 24px;
    padding-bottom: 160px;
  }
}
.band {
  position: relative;
  @media screen and (min-width: 1440px) {
    display: flex;
    gap: 72px;
    
  }
}
.bandDesktop{
  position: relative;
  @media screen and (min-width: 1440px) {
    display: flex;
    gap: 178px;
  }
}
.title {
  align-self: flex-start;
  font-size: 40px;
  font-family: Oswald;
  font-weight: 600;
  line-height: 52px;
  text-transform: uppercase;
  color: var(--add-light-text-clr-2);

  @media screen and (min-width: 768px) {
    font-size: 44px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 56px;
    line-height: 1.1428;
    white-space: nowrap;
    position: -webkit-sticky;
    position: sticky;
    top: 24px;
    right: 0;
  }
}

.info {
  margin-top: 16px;
  @media screen and (min-width: 768px) {
    margin-top: 24px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 0;
    overflow: hidden;
  }

  &_text {
    font-size: 18px;
    font-family: Mulish;
    font-weight: 600;
    line-height: 1.3333;
    color: var(--neutral-dark-text-clr);
    margin-bottom: 52px;
    @media screen and (min-width: 768px) {
      font-size: 20px;
      line-height: 1.2;
    }
    @media screen and (min-width: 1440px) {
      font-size: 22px;
      line-height: 1.2727;
      margin-bottom: 76px;
    }
  }
}
.member {
  width: auto;
  flex-shrink: 0;
  display: block;
  height: 100%;
  max-height: 100%;
  @media screen and (min-width: 768px) {
    display: flex;
  }

  &_photo {
    width: 343px;
    height: 422px;
    object-fit: cover;
    width: 100%;
    @media screen and (min-width: 768px) {
      width: 340px;
      height: 500px;
    }
    @media screen and (min-width: 1440px) {
      width: 408px;
      height: 600px;
    }
  }

  &_info {
    padding: 24px;
    background-color: var(--neutral-dark-bckg-clr-3);

    @media screen and (max-width: 340px) {
      height: 310px;
    }
    @media screen and (min-width: 341px) and (max-width: 767.5px) {
      height: 272px;
    }
    @media screen and (min-width: 768px) {
      padding: 32px 32px 0 32px;
    }
    @media screen and (min-width: 1440px) {
      padding: 40px 40px 0 40px;
    }
  }

  &_name {
    font-size: 24px;
    font-family: Mulish;
    font-weight: 700;
    line-height: 1.16667;
    text-transform: uppercase;
    color: var(--add-light-text-clr-2);
    @media screen and (min-width: 1440px) {
      font-size: 28px;
      line-height: 1.2857;
    }
  }

  &_position {
    font-size: 20px;
    font-family: Mulish;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 9px;
    border-top: 3px solid var(--main-accent-text-clr);
    padding-top: 8px;
    color: var(--main-accent-text-clr);
    @media screen and (min-width: 768px) {
      font-size: 22px;
      line-height: 1.2727;
      margin-top: 13px;
      padding-top: 12px;
    }
    @media screen and (min-width: 1440px) {
      font-size: 24px;
      line-height: 1.1666;
    }
  }

  &_description {
    margin-top: 24px;
    color: var(--light-text-clr);
    @media screen and (min-width: 768px) {
      margin-top: 32px;
    }
    @media screen and (min-width: 1440px) {
      margin-top: 40px;
    }

    &_item {
      font-size: 16px;
      font-family: Mulish;
      line-height: 1.5;
      margin-bottom: 16px;
      @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 1.3333;
      }
      @media screen and (min-width: 1440px) {
        font-size: 20px;
        line-height: 1.2;
      }
    }
  }
}

.arrowNavigation {
  cursor: pointer;

  &.defaultBandPosition {
    padding: 8px;
    border: 1px solid var(--main-accent-text-clr);
    background-color: transparent;
    color: var(--main-accent-text-clr);
  

    &:hover,
    &:focus {
      @media screen and (min-width:1440px) {
      border: 1px solid var(--main-accent-text-clr);
      background-color: var(--main-accent-text-clr);
      cursor: pointer;
      }
    }
  }
  &:global(.swiper-button-disabled) {
    opacity: 0.5;
    cursor: auto;
    pointer-events: none;
    border: 1px solid var(--neutral-dark-text-clr);
    background-color: transparent;
    & > .arrow {
      fill: var(--neutral-dark-text-clr);
    }
  }
}

.arrowNavigationLeft {
  @extend .arrowNavigation;
}

.arrowNavigationRight {
  @extend .arrowNavigation;
}

.arrow {
  display: block;
  fill: var(--main-accent-text-clr);
}

.defaultBandPosition:hover .arrow,
.defaultBandPosition:focus .arrow {
  @media screen and (min-width:1440px) {
    fill: var(--neutral-dark-bckg-clr-1);
  }
  
}

.swiperProgressbarBand {
  background-color: var(--neutral-dark-bckg-clr-3);
  position: relative !important;
  margin-left: 16px;
}

.containerSwiper {
  position: relative;
}
.swiperNav{
display: flex;
flex-direction: column;
align-items: flex-start;
position:absolute;
width:100%;
right: 16px;
margin-top: 68px;
@media screen and (min-width:375px){
  width:343px;
}
@media screen and (min-width: 768px) {
  margin-top: 12px;
  flex-direction: row;
  width:65%;
  align-items: center;
}
  @media screen and (min-width: 1440px) {
  position:relative;
  margin-top: 16px;
  width:60%;
  right: -297px;
  }
}


.swiperBtns{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  position: relative;
  left: 16px;
  @media screen and (min-width: 768px) {
     margin-right: 32px;
     margin-bottom: 0;
  }
   @media screen and (min-width: 1440px) {
      margin-right: 40px;
  }
}