.buttonNotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 100%;
  max-height: 48px;
  font-size: 22px;
  font-family: 'Mulish';
  font-weight: 600;
  line-height: 1.27;

  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
  text-decoration: none;

  color: var(--neutral-dark-bckg-clr-1);
  background-color: var(--light-text-clr);

  transition: border, color, background-color var(--default-animation);

  @media screen and (min-width: 375px) {
    width: auto;
  }

  @media screen and (min-width: 768px) {
    margin-right: auto;
    padding: 16px 32px;
    max-height: 60px;
    max-width: 268px;
  }

  @media screen and (min-width: 1440px) {
    padding: 16px 32px;
    max-width: 288px;
    font-size: 24px;
    line-height: 1.16;
  }
}

.buttonNotFound:hover,
.buttonNotFound:focus {
  border: 2px solid var(--main-accent-text-clr);

  color: var(--light-text-clr);
  background-color: var(--neutral-dark-bckg-clr-1);
}

.buttonNotFound:active {
  border: 2px solid var(--main-accent-text-clr);

  color: var(--neutral-dark-bckg-clr-1);
  background-color: var(--main-accent-text-clr);
}

.textTransform {
  transform: translateX(10px);
  transition: transform var(--default-animation);
}

.buttonNotFound:hover .textTransform,
.buttonNotFound:focus .textTransform {
  transform: translateX(-10px);
}

.commonIconVisible {
  rotate: 180deg;

  fill: transparent;
}

.buttonNotFound:hover .commonIconVisible,
.buttonNotFound:focus .commonIconVisible {
  fill: var(--main-accent-text-clr);
}

.buttonNotFound:active .commonIcon {
  fill: transparent;
}

.buttonNotFound:active .commonIconVisible {
  fill: var(--neutral-dark-bckg-clr-1);
}

.commonIcon {
  display: block;
  rotate: 180deg;
  width: 24px;
  height: 24px;
  fill: var(--neutral-dark-bckg-clr-1);
  transition: fill var(--default-animation);
}
