.boxShowMore {
  width: 100%;

  @media screen and (min-width: 768px) {
    max-width: 343px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1440px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-left: auto;
    max-width: 840px;
  }
}

.showMore {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 12px 24px;
  width: 100%;

  font-size: 22px;
  font-family: 'Mulish';
  font-weight: 600;
  line-height: 1.27;

  border: 2px solid transparent;
  outline: none;
  cursor: pointer;

  color: var(--neutral-dark-bckg-clr-1);
  background-color: var(--light-text-clr);

  transition: border var(--default-animation), color var(--default-animation),
    background-color var(--default-animation);

  @media screen and (min-width: 375px) {
    width: 343px;
  }
}

.showMore:hover,
.showMore:focus {
  border: 2px solid var(--main-accent-text-clr);

  color: var(--light-text-clr);
  background-color: var(--neutral-dark-bckg-clr-1);
}

.showMore:active {
  border: 2px solid var(--main-accent-text-clr);

  color: var(--neutral-dark-bckg-clr-1);
  background-color: var(--main-accent-text-clr);
}

.textTransform {
  transform: translateX(-20px);
  transition: transform var(--default-animation);
}

.showMore:hover .textTransform,
.showMore:focus .textTransform {
  transform: translateX(0px);
}

.buttonIcon {
  opacity: 0;
  margin-right: 8px;
  width: 20px;
  height: 20px;

  fill: var(--neutral-dark-bckg-clr-1);
  transition: fill var(--default-animation);

  @media screen and (min-width: 1440px) {
    margin-right: 12px;
  }

  transform: opacity var(--default-animation);
}

.showMore:hover .buttonIcon,
.showMore:focus .buttonIcon {
  opacity: 1;
  fill: var(--light-text-clr);
}

.showMore:active .buttonIcon {
  fill: var(--neutral-dark-bckg-clr-1);
}
