.showMore {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 12px 24px;
  width: 100%;

  font-size: 22px;
  font-family: 'Mulish';
  font-weight: 600;
  line-height: 1.27;

  border: 2px solid transparent;
  outline: none;
  cursor: pointer;

  color: var(--neutral-dark-bckg-clr-1);
  background-color: var(--light-text-clr);

  transition: border, color, background-color var(--default-animation);

  @media screen and (min-width: 375px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1440px) {
    width: auto;
    margin: 0;
    margin-left: auto;
    margin-right: 20%;
  }
}

.showMore:hover,
.showMore:focus {
  border: 2px solid var(--main-accent-text-clr);

  color: var(--light-text-clr);
  background-color: var(--neutral-dark-bckg-clr-1);
}
