.boxTextModal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  overflow: hidden;

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-thumb {
    position: absolute;
    top: 10px;
    right: 10px;

    background-color: var(--neutral-dark-bckg-clr-1);
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--neutral-dark-text-clr);
  }
}

.textModal {
  padding: 0px 60px;
  max-height: 420px;
  overflow: auto;

  font-family: 'Mulish';
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  overflow: auto;

  color: var(--add-light-text-clr-2);

  @media screen and (min-width: 374.9px) {
    font-size: 16px;
  }

  @media screen and (min-width: 767.9px) {
    font-size: 18px;
  }

  @media screen and (min-width: 1439.9px) {
    font-size: 20px;
  }
}
