.boxTextModal {
  height: 100%;
  margin: 8px;
  padding-bottom: 150px;
}

.textModal {
  height: 100%;
  overflow: scroll;
  padding: 0px 80px;
  font-family: 'Mulish';
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  white-space: pre-line;

  color: var(--add-light-text-clr-2);

  @media screen and (min-width: 375px) {
    font-size: 16px;
  }

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 20px;
  }
}
