.commonButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  font-size: 22px;
  font-family: 'Mulish';
  font-weight: 600;
  line-height: 1.27;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: var(--neutral-dark-bckg-clr-1);
  background-color: var(--light-text-clr);
  transition: border, color, background-color var(--default-animation);
  max-height: 48px;
  min-width: 100%;

  @media screen and (min-width: 375px) {
    max-width: 343px;
  }

  @media screen and (min-width: 768px) {
    margin-right: auto;
    padding: 16px 32px;
    max-height: 60px;
    min-width: 268px;
    max-width: 360px;
    font-size: 22px;
  }

  @media screen and (min-width: 1440px) {
    margin-right: 0;
    margin-left: auto;
    padding: 16px 32px;
    min-width: 288px;
    max-width: 400px;
    font-size: 24px;
    line-height: 1.16;
  }
}

.commonButton:hover,
.commonButton:focus {
  border: 2px solid var(--main-accent-text-clr);

  color: var(--light-text-clr);
  background-color: var(--neutral-dark-bckg-clr-1);
}

.commonButton:active {
  border: 2px solid var(--main-accent-text-clr);

  color: var(--neutral-dark-bckg-clr-1);
  background-color: var(--main-accent-text-clr);
}

.textTransform {
  text-align: center;
  white-space: nowrap;
  transform: translateX(-10px);
  transition: transform var(--default-animation);
}

.commonButton:hover .textTransform,
.commonButton:focus .textTransform {
  transform: translateX(10px);
}

.commonIconVisible {
  fill: transparent;
}

.commonButton:hover .commonIconVisible,
.commonButton:focus .commonIconVisible {
  fill: var(--main-accent-text-clr);
}

.commonButton:active .commonIconVisible {
  fill: var(--neutral-dark-bckg-clr-1);
}

.commonButton:active .commonIcon {
  fill: var(--main-accent-text-clr);
}

.commonIcon {
  display: block;

  width: 24px;
  height: 24px;

  fill: var(--neutral-dark-bckg-clr-1);

  transition: fill var(--default-animation);
}
