.commonButton {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 52px;
  padding: 12px 24px;
  width: 100%;

  font-size: 22px;
  font-family: 'Mulish';
  font-weight: 600;
  line-height: 1.27;

  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
  text-decoration: none;

  color: var(--neutral-dark-bckg-clr-1);
  background-color: var(--light-text-clr);

  transition: border, color, background-color var(--default-animation);

  @media screen and (min-width: 375px) {
    width: auto;
  }

  @media screen and (min-width: 768px) {
    margin-right: auto;
    padding: 16px 32px;
    width: 360px;
  }

  @media screen and (min-width: 1440px) {
    margin-right: 0;
    margin-left: auto;
    padding: 16px 32px;

    font-size: 24px;
    line-height: 1.16;
  }
}

.commonButton:hover,
.commonButton:focus {
  border: 2px solid var(--main-accent-text-clr);

  color: var(--light-text-clr);
  background-color: var(--neutral-dark-bckg-clr-1);
}

.textTransform {
  transform: translateX(-10px);
  transition: transform var(--default-animation);
}

.commonButton:hover .textTransform,
.commonButton:focus .textTransform {
  transform: translateX(10px);
}

.commonIconVisible {
  fill: transparent;
}

.commonButton:hover .commonIconVisible,
.commonButton:focus .commonIconVisible {
  fill: var(--main-accent-text-clr);
}

.commonIcon {
  display: block;

  width: 24px;
  height: 24px;

  fill: var(--neutral-dark-bckg-clr-1);

  transition: fill var(--default-animation);
}
