.header {
  background-color: var(--neutral-dark-bckg-clr-1);
padding-bottom: 16px;
}

.header_title_container {
  width: 100%;
}

.header_burger_btn {
  margin-top: 8px;
  margin-left: -8px;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  background-color: var(--neutral-dark-bckg-clr-1);
  border: none;
}

.header_title {
  height: 52px;
  margin-top: 24px;
  align-items: center;
}

.header_title_text {
  text-transform: uppercase;
  color: var(--add-light-text-clr-2);
  font-family: Oswald;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
}

.header_subTitle {
//   margin: 0 16px;
  height: 36px;
}

.header_subtitle_text {
  text-transform: uppercase;
  color: var(--main-accent-text-clr);
  font-family: Oswald;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
}

.header_body {
  margin-top: 16px;
}

.header_textbody {
  color: var(--neutral-dark-text-clr);
  font-size: 18px;
  font-family: Mulish;
  font-weight: 600;
  line-height: 24px;
}

.header_btn_text {
    height: 48px;
    width: 100%;
    margin: 32px 0;
    padding: 10px auto;
    border: none;
  background: var(--light-text-clr);
  color: var(--neutral-dark-bckg-clr-1);
  font-size: 22px;
  font-family: Mulish;
  font-weight: 600;
  line-height: 28px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 8px;
}