.videoChapter {
  font-size: 9vw;
  font-family: Oswald;
  font-weight: 600;
  line-height: 1.3;
  text-transform: uppercase;
  color: var(--add-light-text-clr-2);

  @media screen and (min-width: 375px) {
    font-size: 40px;
  }

  @media screen and (min-width: 768px) {
    font-size: 44px;
    line-height: 1.18;
  }

  @media screen and (min-width: 1440px) {
    width: 408px;
    position: -webkit-sticky;
    position: sticky;
    top: 24px;
    right: 0;
    font-size: 56px;
    line-height: 1.14;
    text-align: left;
  }
}
