.textNotFound {
  margin-bottom: 52px;

  font-size: 18px;
  font-family: 'Mulish';
  font-weight: 600;
  line-height: 1.3;

  color: var(--neutral-dark-text-clr);

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.2;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 76px;

    font-size: 22px;
    line-height: 1.27;
  }
}
