.video {
  color: var(--add-light-text-clr-2);
  background-color: var(--neutral-dark-bckg-clr-1);
}

.video_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 16px 16px 80px;

  @media screen and (min-width: 375px) {
    width: 375px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 24px 32px 112px;
  }

  @media screen and (min-width: 1440px) {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 1440px;
    padding: 24px 84px 160px;
  }
}
