.video {
  display: flex;
  justify-content: space-between;
  padding: 24px 84px 160px;
  color: var(--add-light-text-clr-2);
  background-color: var(--neutral-dark-bckg-clr-1);

  @media screen and (max-width: 1440px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 32px 112px;
  }

  @media screen and (max-width: 768px) {
    padding: 16px 16px 80px;
  }
}
