.imageMusic {
  margin-bottom: 12px;

  width: 100%;
  height: auto;

  filter: brightness(100%);

  transition: filter var(--default-animation);
}

.imageMusic:hover,
.imageMusic:focus {
  filter: brightness(50%);
}

.iconPlayMusic {
  display: block;

  width: 64px;
  height: 64px;
  fill: var(--main-text-clr);

  transition: fill var(--default-animation);

  @media screen and (max-width: 767.9px) {
    width: 52px;
    height: 52px;
  }
}

.imageMusic:hover .iconPlayMusic,
.imageMusic:focus .iconPlayMusic {
  fill: var(--main-accent-text-clr);
}
