.imageMusic {
  margin-bottom: 12px;
  position: relative;
  z-index: 1;

  &::after {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: rgba(19, 19, 19, 0.7);
    transition: background-color var(--default-animation);
    z-index: 50;
    pointer-events: none;
  }

  &.noHover::after {
    background-color: transparent;
  }

  &:hover::after,
  &:focus::after {
    background-color: rgba($color: #000000, $alpha: 0.5);
  }

  @media screen and (min-width: 1440px) {
    height: 408px;
  }
}

.iconPlayMusic {
  display: block;
  width: 64px;
  height: 64px;
  fill: var(--main-text-clr);
  transition: fill var(--default-animation);
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  @media screen and (max-width: 768px) {
    width: 52px;
    height: 52px;
  }
}

.imageMusic:hover .iconPlayMusic,
.imageMusic:focus .iconPlayMusic {
  fill: var(--main-accent-text-clr);
}
