.imageMusic {
  position: relative;
  z-index: 1;

  &::after {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: transparent;
    transition: background-color var(--default-animation);
    z-index: 50;
    pointer-events: none;
  }

  &:hover::after,
  &:focus::after {
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
}

.commonMusicWrapper {
  height: 100%;
  width: 100%;
  margin-bottom: 12px;
  & > div {
    height: 340px !important;

    @media screen and (min-width: 1440px) {
      height: 408px !important;
    }
  }
}

.iconPlayMusic {
  display: block;
  width: 64px;
  height: 64px;
  fill: var(--main-accent-text-clr);
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  opacity: 0;
  transition: opacity var(--default-animation);

  @media screen and (max-width: 768px) {
    width: 52px;
    height: 52px;
  }
}

.imageMusic:hover .iconPlayMusic,
.imageMusic:focus .iconPlayMusic {
  opacity: 1;
}
