.footer {
  font-size: 18px;
  font-family: Mulish;
  line-height: 24px;

  background-color: var(--secondary-bg-clr);
  color: var(--add-light-text-clr-2);

  @media screen and (min-width: 374.9px) {
    max-width: 100%;
  }
}

.footer__wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 52px;
  padding-top: 16px;
  padding-bottom: 80px;
}

.appeal__wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.appeal__title {
  font-size: 40px;
  font-family: Oswald;
  line-height: 52px;
  text-transform: uppercase;
}

.appeal__desc {
  color: var(--light-text-clr);
}

.address__wrap {
  display: flex;
  gap: 52px;
  flex-direction: column;
  font-style: normal;
}

.address__title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;

  color: var(--light-text-clr);
}

.contactsWrap {
  display: flex;
  gap: 52px;

  @media screen and (max-width: 374.99px) {
    flex-direction: column;
  }
}

.envelopIcon {
  height: 20px;
  width: 20px;

  @media screen and (min-width: 767.9px) {
    height: 24px;
    width: 24px;
  }
}

.footerLogo {
  @media screen and (max-width: 767.9px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    width: 116px;
    height: 158px;
  }

  @media screen and (min-width: 1439.9px) {
    width: 140px;
    height: 192px;
  }
}
