.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  max-height: 100%;
  z-index: 1100;
  overflow-y: scroll;

  background-color: rgba(0, 0, 0, 0.2);

  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: var(--neutral-dark-bckg-clr-3) transparent;

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--neutral-dark-bckg-clr-3);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--neutral-dark-text-clr);
  }

  ::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
  }

  ::-moz-scrollbar {
    width: 4px;
  }

  ::-moz-scrollbar-thumb {
    position: absolute;
    top: 10px;
    right: 1px;
    background-color: var(--neutral-dark-bckg-clr-3);
  }

  ::-moz-scrollbar-thumb:hover {
    background-color: var(--neutral-dark-text-clr);
  }

  &.openBackdrop {
    transform: scaleY(0.005) scaleX(0);
    animation: modalAnimation var(--slow-animation) forwards;
  }
}

@keyframes modalAnimation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.modalContent {
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 95vw;
  max-height: 600px;
  height: 100%;

  border-radius: 2px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  background-color: var(--neutral-dark-bckg-clr-2);

  transform: translate(-50%, -50%);

  @media screen and (min-width: 375px) {
    width: 300px;
  }

  @media screen and (min-width: 768px) {
    width: 340px;
  }

  @media screen and (min-width: 1440px) {
    width: 408px;
  }

  & .openContent {
    opacity: 1;
    animation: modalContent var(--slow-animation) forwards;
  }
}

@keyframes modalContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
