.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  z-index: 1100;

  background-color: rgba(0, 0, 0, 0.2);
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 95vw;
  // height: 95vh;
  max-height: 600px;
  height: 100%;
  overflow: hidden;

  border-radius: 2px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  background-color: var(--neutral-dark-bckg-clr-2);

  transform: translate(-50%, -50%);

  @media screen and (min-width: 375px) {
    width: 300px;
  }

  @media screen and (min-width: 768px) {
    width: 340px;
  }

  @media screen and (min-width: 1440px) {
    width: 408px;
  }
}
