/* @import './fonts/Oswald-SemiBold.ttf'; */

:root {
  --main-text-clr: #dadada;
  --main-bckg-clr: #23291c;
  --main-accent-text-clr: #00fe00;
  --main-error-text-clr: #ba1a1a;

  --neutral-dark-bckg-clr-1: #131313;
  --neutral-dark-bckg-clr-2: #232323;
  --neutral-dark-bckg-clr-3: #363636;

  --neutral-dark-text-clr: #878787;
  --white-text-clr: #dadada;
  --light-text-clr: #c1c1c1;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @font-face {
  font-family: 'Oswald-SemiBold';
  src: url('./fonts/Oswald-SemiBold.ttf') format('truetype');
}

code {
  font-family: 'Oswald-SemiBold', sans-serif;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 8px;
  padding-right: 8px;
}

/* mobile screen */
@media screen and (max-width: 768px) {
  .container {
    max-width: 375px;
  }
}

/* tablet screen */
@media screen and (max-width: 1440px) {
  .container {
    width: 768px;
    padding-right: 31px;
    padding-left: 31px;
  }
}

/* desktop screen */
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-right: 65px;
    padding-left: 65px;
  }
}