.textPlayer {
  position: absolute;
  bottom: 26px;
  right: 30%;
  left: 30%;

  font-size: 24px;
  font-family: 'Mulish';
  font-weight: 700;
  line-height: 1.16;

  text-transform: uppercase;
  text-align: center;
  z-index: 3;
}

.hiddenText {
  display: none;
}
